.App {
  user-select: none;
  color: white;
  display: flex
}

.infoDiv {
  position: fixed;
  bottom: 10px;
  right: 10px
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

}

.icon {
  margin: 15px;
  color: blue
}

.loadingBar {
  position: fixed;
  bottom: calc(50vh - 20px)
}

.loadingTxt {
  font-style: italic;
  font-size: small;
}

.main .halfPart {
  height: 50vh;
}

@media screen and (min-width: 900px) {
  .main {
    flex-direction: row;
  }

  .main .halfPart {
    height: 100vh;
  }

  .loadingBar {
    bottom: 200px;
    margin-left: 15vw
  }
}

.spotify {
  background-color: #1db954;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neumorph {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.4),
    5px 5px 10px rgba(0, 0, 0, 0.4);
}

.neumorph-soft {
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.4),
    1px 1px 5px rgba(0, 0, 0, 0.4);
}

.neumorph-in {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 10px rgba(255, 255, 255, 0.4);
}

.neutext {
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.1);
  color: transparent;
  font-weight: bold;
  font-size: 5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}